
h2{
	width:150px;
	height:880px;
	margin:0;
	text-align: center;
	color:white;
	background: blue;
	float:left;
}
#jiben{
	padding-top: 20px;
}
div{
	margin-left: 150px;
	padding-left: 20px;
}
table td {
  padding-left:5px;
  padding-right: 35px;
}
ul{
	list-style-type: none;
	text-indent: -40px;	
}


.title{
	margin-bottom: 0;
}
.content{
	margin: 0;
}

li p:nth-of-type(1){
	font-weight: bold;
}